@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@model IEnumerable<HYPERION_ASSESSMENT.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<h4>List of Courses</h4>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Course</a>
</p>
@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
    <b>Search By:&nbsp;&nbsp;</b>
    @Html.RadioButton("SearchBy", "COURSENAME",true)

    <text>&nbsp;</text>

    <text>Course Name</text>
     
    <div class="pull-right">
        @Html.TextBox("Search")<text>&nbsp;</text>
        <input type="submit" value="Search" class="btn btn-primary" />
      
    </div>
}
<tr>
    <th>
        @Html.ActionLink("","Index", new {SearchBy=_httpContextAccessor.HttpContext.Request.Query["SearchBy"],Search=_httpContextAccessor.HttpContext.Request.Query["Search"]})
       
    </th>
  
</tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="5">
            <h5 style="color:#ff0000;">No rows match Search Criteria !! </h5>
        </td>
    </tr>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coursename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coursename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
